body {
    size: 175px;
    display: grid;
    height: 115%;
    width: 100%;
    place-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    
    background-image: url(/img/bottlesbw2.png);
}

.logo {
    margin-top: 120px;
    line-height: 120px;
}


.logo a:hover {
    opacity: 75%;
}

.container {
    text-align: center;
    width: 400px;
    background: black;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px black;
}

.container h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    background: black;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid gold;
    border-radius: 6px;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

.container p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.container a {
    color: white;
    text-decoration: none;
}

.container a:hover {
    color: white;
    text-decoration: underline;
}

.container .botons {
    width: 100%;
    background: goldenrod;
    border-radius: 6px;
    border: none;
    padding: 12px;
    color: black;
    margin: 16px 0;
    font-size: 16px;
}
.container .botons:hover{
    opacity: 75%;
}

.fa-home{
    color: gold;
    
}

.container .selected {
    width: 75%;
    background: goldenrod;
    border-radius: 6px;
    text-align: center;
    border: none;
    padding: 12px;
    color: black;
    margin: 16px 0;
    font-size: 16px;
}

.wrapper .button {
    
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    overflow: hidden;
    background: rgb(253, 221, 160);
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
}

.wrapper .button:hover {
    width: 200px;
}

.wrapper .button .icon {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon {
    background: rgb(131, 1, 22);
}

.wrapper .button:nth-child(2):hover .icon {
    background: green;
}

.wrapper .button:nth-child(3):hover .icon {
    background: blue;
}

.wrapper .button .icon i {
    font-size: 25px;
    line-height: 60px;
    transition: all 0.8s ease-out;
}

.wrapper .button:hover .icon i {
    color: rgb(253, 221, 160);
}

.wrapper .button span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1) span {
    color: rgb(131, 1, 22);
}

.wrapper .button:nth-child(2) span {
    color: green;
}

.wrapper .button:nth-child(3) span {
    color: blue;
}